/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background: var(--background);
  background-image: var(--background-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
  user-select: none;
}


/* ОБЩЕЕ */

.intro,
.intro-description,
.header__theme-menu,
.section__heading,
.section__list-heading,
.section__list-heading_sub,
.section__gallery-heading,
.paragraph,
.outro,
a {
  font-family: 'IBM Plex mono', Arial, Helvetica, sans-serif;
}

.section__heading,
.section__list-heading,
.section__list-heading_sub,
.section__gallery-heading,
.paragraph,
a {
  font-size: var(--main-font-size);
  line-height: 23.4px;
}

.section__heading,
.section__list-heading,
.section__gallery-heading,
.intro-description {
  font-weight: 700;
}

.section__list-heading_sub,
.paragraph,
a {
  font-weight: 400;
}

.decorated-zone {

  &::before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-top: 1px solid var(--heading-bg);
    border-right: 1px solid var(--heading-bg);
  }

  &::after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-left: 1px solid var(--heading-bg);
    border-bottom: 1px solid var(--heading-bg);
  }
}


/* ХЕДЕР */

.header-rec {
  position: absolute;
  top: 10.4px;
  right: 39px;
  text-transform: uppercase;
  color: var(--heading-bg);
  font-family: 'IBM Plex mono', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
}

.header-svg {
  position: absolute;
  top: 2px;
  left: 36px;
}

.header {
  padding: 0 10px;
  max-block-size: 668px;
  min-block-size: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: end;
  gap: 12.6px;
}

.header__theme-menu {
  margin-top: 30px;
  margin-right: 8px;
  display: flex;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

.header__theme-menu-button {
  background-color: transparent;
  font-size: var(--main-font-size);
  text-transform: lowercase;
  color: var(--heading-bg);
  border: none;

  &:hover {
    outline: 1px solid var(--heading-bg);
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid var(--focus-nav);
  }
}

.intro {
  justify-self: start;
  color: var(--intro-font-color);
  text-shadow: 4px 4px 0 var(--intro-shadow);
  font-size: var(--intro-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;

}

.intro-description {
  margin-top: -34.5px;
  color: var(--heading-list-font-color);
  font-size: var(--main-font-size);
  line-height: 23.4px;
  background: var(--heading-bg);
  place-self: center;
}


/* СЕКЦИИ */

.main_flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section__main {
  flex-direction: column;
  margin-top: 40px;
  padding: 0 10px;
}

.section__heading {
  margin-bottom: 20px;
  color: var(--heading-font-color);
}

.section__list-heading {
  margin-bottom: 10px;
  color: var(--heading-list-font-color);
  background-color: var(--heading-bg);
}

.section__list-heading_sub {
  margin-bottom: 10px;
  color: var(--heading-list-font-color);
  background-color: var(--heading-bg);
}

.section__list-item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: -6px;
  }
}

.paragraph {
  color: var(--main-font-color);
}

.link {
  color: var(--main-font-color);
  font-style: normal;
  text-decoration: none;
  text-shadow: 1.3px 1.3px var(--link-shadow);

  &:hover {
    border-bottom: 1px solid var(--main-font-color);
  }

  &:focus {
    outline: 1px solid var(--main-font-color);
  }
}


/* ГАЛЕРЕЯ */

img {
  inline-size: 100%;
}

.galleryi-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6.6px;
}

.section__gallery-heading {
  margin-bottom: 1px;
  color: var(--heading-list-font-color);
  background-color: var(--heading-bg);
}


/* ФУТЕР */

.footer {
  margin-block-start: -2px;
  position: relative;
  max-block-size: 100vw;
  min-block-size: 100vh;
}

.outro {
  margin-block-start: 37px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--intro-font-color);
  text-shadow: 4px 4px 0 var(--intro-shadow);
  font-size: var(--intro-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}



/* МЕДИАЗАПРОС ПОД 768 */

@media (767px < width < 1024px) {
  .page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    min-inline-size: 768px;
  }


  /* ХЕДЕР */

  .decorated-zone {

    &::before {
      top: 20px;
      right: 20px;
    }

    &::after {
      bottom: 20px;
      left: 20px;
    }
  }

  .header-rec {
    top: 20px;
    right: 48px;
  }

  .header__theme-menu-list {
    margin-top: 115px;
    margin-right: 10px;
  }

  .intro {
    margin-left: -11px;
  }

  .intro-description {
    width: 364px;
    margin-top: 32.5px;
    margin-right: 10px;
    justify-self: end;
    align-self: start;
  }


  /* СЕКЦИИ */

  .main_flex {
    padding-top: 20px;
    align-items: center;
    gap: 45px;
  }

  .section__main {
    padding: 0 20px;
  }

  .section__main_flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .section__heading {
    width: 236px;
  }

  .section__list {
    width: 472px;
  }

  .section__gallery-heading {
    margin-bottom: 15px;
  }

  .gallery-list_grid {
    margin-top: 5px;
    margin-bottom: 68px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 780px;
  }

  img {
    min-height: 100%;
    object-fit: cover;
  }

  .gallery-list-item_grid-horizontal-top {
    grid-area: 1 / 1 / 2 / 3;
  }

  .gallery-list-item_grid-horizontal-bottom {
    grid-area: 3 / 2 / 4 / 4;
  }

  .gallery-list-item_grid-vertical-left {
    grid-area: 2 / 1 / 4 / 2;
  }

  .gallery-list-item_grid-vertical-right {
    grid-area: 1 / 3 / 3 / 4;
  }

  .gallery-list-item_grid-center {
    grid-area: 2/2/3/3;
  }


  /* ФУТЕР */

  .outro {
    margin: auto;
  }
}



/* МЕДИАЗАПРОС ПОД 1024 */

@media (width > 1023px) {
  .page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    min-inline-size: 1024px;
  }


  /* ХЕДЕР */

  .decorated-zone {

    &::before {
      top: 20px;
      right: 20px;
    }

    &::after {
      bottom: 20px;
      left: 20px;
    }
  }

  .header-rec {
    top: 20px;
    right: 48px;
  }

  .header__theme-menu {
    margin-top: -97px;
    margin-left: 18px;
    place-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 25px;
    margin-top: 115px;
    margin-right: 10px;
  }

  .intro {
    margin-left: -11px;
  }

  .intro-description {
    width: 490px;
    margin-top: 42.5px;
    margin-right: 11px;
    justify-self: end;
    align-self: start;
  }


  /* СЕКЦИИ */

  .main_flex {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 46px
  }

  .section__main {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }

  .section__list_desktop {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 20px;
    width: 100%;
    height: 100%;
  }

  .section__main_flex {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .section__heading {
    width: 314.96px;
  }

  .section__list {
    width: 648.918px;
  }

  .gallery-list_grid {
    margin-top: 12px;
    margin-bottom: 68px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 780px;
  }

  img {
    min-height: 100%;
    object-fit: cover;
  }

  .gallery-list-item_grid-horizontal-top {
    grid-area: 1 / 1 / 2 / 3;
  }

  .gallery-list-item_grid-horizontal-bottom {
    grid-area: 3 / 2 / 4 / 4;
  }

  .gallery-list-item_grid-vertical-left {
    grid-area: 2 / 1 / 4 / 2;
  }

  .gallery-list-item_grid-vertical-right {
    grid-area: 1 / 3 / 3 / 4;
  }

  .gallery-list-item_grid-center {
    grid-area: 2/2/3/3;
  }


  /* ФУТЕР */

  .footer {
    margin-block-start: 265px;
  }
}