/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-img: url(../images/cover-image-dark.png);
  /* картинка фона */
  --intro-font-size: 116px;
  /* размер текста входа-выхода */
  --background: #000028;
  /* цвет подложки */
  --intro-font-color: #DB00FF;
  /* цвет текста входа-выхода */
  --intro-shadow: #ff0070;
  /* тень входа-выхода */
  --focus-nav: #FF0070;
  /* цвет фокуса навигации */

  --main-font-size: 18px;
  /* основной размер текста страницы (18px) */
  --main-font-color: #F1B2CE;
  /* основной цвет текста страницы */
  --link-shadow: #FF0070;
  /* тень ссылки */

  --heading-bg: #FF0070;
  /* ядерный розовый фон */
  --heading-font-color: #FF0070;
  /* цвет текста заголовка */
  --heading-list-font-color: #000028;
  /* цвет заголовков списка */



  /* МЕДИАЗАПРОС ПОД 768 */

  @media (767px < width < 1024px) {
    --intro-font-size: 120px;
    /* размер текста входа-выхода 768 */
  }



  /* МЕДИАЗАПРОС ПОД 1024 */

  @media (width > 1023px) {
    --intro-font-size: 157px;
    /* размер текста входа-выхода 1024 */
  }
}